.container__conteudo{
    width: 100%;
    height: 100vh;
    margin-top: 20px;

    display: flex;
    flex-direction: column;

    align-items: center;
}


.container__cover > img{
    width: 500px;
    height: 400px;
    min-width: 500px;
    
    border-radius: 5px;

} 

.container__description{
    margin-top: 15px
}

.container__description > p{
    margin-top: 20px;
    color:red;
}